<div class="hero-container">
  <section class="repsonsive-part">
    <h1 class="hero-header">Bring Out Your Skin's</h1>
    <div class="natural-glow-section">
      <h1 class="hero-header">Natural Glow</h1>
      <div>
        <img src="../assets/product.png" alt="" class="product-image" />
      </div>
    </div>
    <p class="discove-part">
      Discover the beauty of healthy.radiant skin with our carefully crafted
      skincare solutions.
    </p>

    <div class="hero-members">
      <div class="hero-member">
        <h3 class="number-count">100%</h3>
        <p class="number-details">Organic Product</p>
      </div>
      <div class="hero-member">
        <h3 class="number-count">1355+</h3>
        <p class="number-details">Premium Product</p>
      </div>
      <div class="hero-member">
        <h1 class="number-count">4k+</h1>
        <p class="number-details">Premium Product</p>
      </div>
    </div>

    <div class="hero-button">
      <button class="shop-now">Shop Now</button>
      <button class="how-to-use">
        <img
          src="../assets/svgviewer-png-output.png"
          alt=""
          class="play-button"
        />
        How To Use
      </button>
    </div>
  </section>
  <section class="banner-reposnsive">
    <div class="hero-banner">
      <img src="../assets/Group 17.svg" alt="" class="banner-image" />
    </div>
  </section>
</div>

<div class="explore">
  <img
    src="../assets/svgviewer-png-output (1).png"
    alt=""
    class="play-button"
  />
</div>
<p class="explore explore-text">Explore</p>
