<div class="parent-footer">
  <div class="footer-container">
    <section>
      <img src="../../assets/Glowave.png" alt="" />
      <p>
        Discover the beauty of healthy, radiant skin with our carefully crafted
        skincare solutions
      </p>
      <div class="social">
        <img src="../../assets//Frame 1948755953.png" alt="" />
      </div>
    </section>
    <section>
      <p class="footer-part">Quick Link</p>
      <ul class="footer-part-ul">
        <li class="footer-part-ul-li">Shop</li>
        <li class="footer-part-ul-li">About Us</li>
        <li class="footer-part-ul-li">Blog</li>
        <li class="footer-part-ul-li">Faqs</li>
        <li class="footer-part-ul-li">Shopping returns</li>
      </ul>
    </section>
    <section>
      <p class="footer-part">Contact</p>
      <ul class="footer-part-ul">
        <li class="footer-part-ul-li">Shop</li>
        <li class="footer-part-ul-li">About Us</li>
        <li class="footer-part-ul-li">Blog</li>
        <li class="footer-part-ul-li">Faqs</li>
        <li class="footer-part-ul-li">Shopping returns</li>
      </ul>
    </section>
    <section>
      <p class="footer-part">Product</p>
      <ul class="footer-part-ul">
        <li class="footer-part-ul-li">Shop</li>
        <li class="footer-part-ul-li">About Us</li>
        <li class="footer-part-ul-li">Blog</li>
        <li class="footer-part-ul-li">Faqs</li>
        <li class="footer-part-ul-li">Shopping returns</li>
      </ul>
    </section>
  </div>
</div>
