<div class="offer-container">
  <div class="offer-section">
    <section>
      <img src="../../assets/offer.png" alt="" class="offer-image" />
    </section>
    <section class="offer-text-section">
      <h2 class="off-title">50% OFF</h2>
      <h4 class="start-explore-text">Start exploring our range of products</h4>
      <button class="explore-button">Express All</button>
      <div class="vector-image">
        <img src="../../assets/Vector-leaf.png" alt="" class="vector-leaf" />
      </div>
    </section>
  </div>
</div>
