<div class="product-c-container">
  <div>
    <h3 class="product-c-title">Product Category</h3>
  </div>

  <div class="product-c-section">
    <div class="cat-items">
      <p class="c-title">Cleansers</p>
      <p class="c-count">10</p>
    </div>
    <div class="cat-items">
      <h2 class="c-title">Moistrizers</h2>
      <p class="c-count">16</p>
    </div>
    <div class="cat-items responsive-part">
      <h2 class="c-title">Masks</h2>
      <p class="c-count">23</p>
    </div>
  </div>

  <div class="product-c-2-section">
    <div class="cat-items-2">
      <h2 class="c-title">Sunscreens</h2>
      <p class="c-count">54</p>
      <div class="night-creame">
        <img
          src="../assets//night_cream_3 1.png"
          alt=""
          class="night-crm-img"
        />
      </div>
    </div>
    <div class="cat-items">
      <h2 class="c-title">Serums</h2>
      <p class="c-count">34</p>
    </div>
  </div>
</div>
