<div class="why-choose-container">
  <h1 class="why-we-choose">Why Choose Our Product</h1>
  <div class="why-choose-parent">
    <section class="list-card">
      <div class="list-card-item">
        <!-- <img src="../../assets/001-cruelty free.png" alt="" /> -->
        <h5 class="list-title">1. Clean Ingredients</h5>
        <p class="list-des">
          We use only the safest, most effective ingredients. No parabens,
          sulfates, or synthetic fragrances.
        </p>
      </div>
      <hr />
      <div class="list-card-item">
        <!-- <img src="../../assets/001-cruelty free.png" alt="" /> -->
        <h5 class="list-title">2. Cruelty-Free</h5>
        <p class="list-des">
          We use only the safest, most effective ingredients. No parabens,
          sulfates, or synthetic fragrances.
        </p>
      </div>
      <hr />
      <div class="list-card-item">
        <!-- <img src="../../assets/001-cruelty free.png" alt="" /> -->
        <h5 class="list-title">3. Eco-Friendly Packaging</h5>
        <p class="list-des">
          We use only the safest, most effective ingredients. No parabens,
          sulfates, or synthetic fragrances.
        </p>
      </div>
      <hr />
      <div class="list-card-item">
        <!-- <img src="../../assets/001-cruelty free.png" alt="" /> -->
        <h5 class="list-title">4. Dermatologist Approved</h5>
        <p class="list-des">
          We use only the safest, most effective ingredients. No parabens,
          sulfates, or synthetic fragrances.
        </p>
      </div>
      <hr />
    </section>
    <section class="responsive-image">
      <img src="../../assets/Group 3290.png" alt="" class="why-image" />
    </section>
  </div>
</div>
